@import "./variables";
@import "./mixin";

#content {
  .container {
    @include tgdd-container(1200px, 0);
    background-color: $color-third;
    .content-header {
      text-align: center;
      font-size: 45px;
      color: #fff;
      text-transform: uppercase;
      letter-spacing: 2px;
      font-weight: 500;
      padding: 26px 0 5px 0;
    }
    .content-banner {
      display: flex;
      justify-content: space-between;
      margin: 10px;
    }
    .content-product {
      margin: 10px;
      .row {
        width: 100%;
        background-color: yellow;
        margin: auto;
        .col {
          padding: 5px;
          .item {
            background-color: #fff;
          }
        }
      }
    }
  }
}
